ul {
    list-style-type: none;
}

ul li:before {
    content: '-';
    position: absolute;
    margin-left: -20px;
}

table, th, td {
    border: 1px solid black;
}

p {
    font-family: serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: darkslateblue;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

body {
    width: 90%;
    margin: auto;
    background-image: url("./bgimg2.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    font-family: open sans-serif;
}

q {
    font-style: italic;
}

.vil {
    color: red;
}

.farm {
    color: deeppink;
}

header > p > b {
    background-color: yellow;
}

.good, .bad {
    text-transform: uppercase;
}

.bad {
    color: red;
}

.good {
    color: green;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

.img1 {
    float: left;
    margin-right: 30px;
}

.img2 {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
}

table {
    clear: left;
}

h1 {
    text-align: center;
    font-size: 45px;
}

h4 {
    clear: left;
    padding-top: 25px;
}

h3 {
    text-align: center;
}

h3, h4, h5 {
    font-size: 25px;
}

footer {
    clear: right;
}